@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat&family=Oswald&display=swap");

/*UTILIZAR FUENTES
font-family: 'Concert One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 900ms;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

body {
  background: rgb(231, 226, 226);
}
/*   INICIO MENU   */
@media screen and (min-width: 500px) {
  header {
    display: flex;
    justify-content: center;
  }

  img {
    box-shadow: rgb(63, 63, 63) 8px 8px 4px;
  }

  nav {
    position: relative;
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80rem;
    height: 6.5rem;
    border: inset rgba(194, 5, 5, 0.835) 0.5rem;
  }

  nav ul {
    display: flex;
    list-style: none;
  }

  nav ul li {
    padding: 1rem 1.7rem;
    display: flex;
    align-items: center;
  }

  nav ul li:hover {
    transition: all 850ms;
    background: rgb(26, 23, 23);
    height: 5.6rem;
    margin-top: 0.4rem;
  }

  nav ul li:hover a {
    color: white;
  }

  nav ul li:nth-of-type(2) {
    background: black;
    height: 5.6rem;
    margin-top: 0.4rem;
  }

  nav ul li:nth-of-type(2) a {
    color: white;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "Concert One", cursive;
    font-size: 1.8rem;
  }

  nav ul li a img {
    width: 6rem;
    height: 4rem;
  }
}
/*   FINAL MENU   */

main {
  border: outset rgba(194, 5, 5, 0.835) 0.5rem;
  width: 80rem;
  margin: auto;
  box-shadow: rgb(134, 131, 131) 8px 8px 4px;
}

nav,
main,
footer {
  background: rgba(156, 154, 154, 0.63);
}

section {
  padding: 1rem;
}

.contClases {
  display: grid;
  width: 60rem;
  height: auto;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr;
  gap: 3em;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

.contClases ul {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2em;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.contClases ul li p {
  text-align: justify;
  font-size: 1rem;
}

ul {
  list-style: none;
}

.contClases ul li img {
  width: 18rem;
  height: 18rem;
}

.nAlumnos table {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-collapse: collapse;
}

.nAlumnos p {
  text-align: center;
}

td {
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.nAlumnos table tr td {
  border-left: solid black 1px;
  border-right: solid black 1px;
}

.nAlumnos table tr:nth-of-type(2n) {
  background: rgba(172, 172, 172, 0.623);
}

.nAlumnos table tr:nth-of-type(2n + 1) {
  background: rgba(214, 214, 214, 0.719);
}

.nAlumnos table tr:first-of-type {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  background: rgba(126, 124, 124, 0.719);
}

.nAlumnos table tr:last-of-type {
  border-bottom: solid black 1px;
}

h2 {
  text-align: center;
  display: flex;
  margin: 0.5rem auto;
  font-family: "Concert One", cursive;
  font-weight: bold;
  font-size: 2rem;
  justify-content: center;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.contClases h3 {
  text-align: center;
  display: flex;
  justify-content: center;
}

.nClases img {
  width: 15rem;
  height: 15rem;
}

.lista {
  margin-left: 4rem;
}

.listaP {
  font-weight: bold;
}

.listaP li {
  margin: 1rem auto;
}

.listaP li:last-of-type {
  margin-bottom: 2rem;
}

.lista ol .nAlumnos,
.galardones {
  margin-top: -2rem;
}

.ganadores {
  list-style: lower-latin;
  font-weight: normal;
}

footer {
  border: outset rgba(194, 5, 5, 0.835) 0.5rem;
  margin: 1rem auto;
  width: 80rem;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

i {
  font-size: 3rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 500px) {
  /*   INICIO MENU   */
  header {
    width: 100%;
  }

  nav {
    position: relative;
    margin: 0.5rem auto;
    justify-content: center;
    align-items: center;
    width: 92%;
    height: 34rem;
    border: inset rgba(194, 5, 5, 0.835) 0.5rem;
  }

  nav ul {
    margin-top: -0.5rem;
    list-style: none;
  }

  nav ul li {
    padding: 1rem 1.7rem;
    align-items: center;
  }

  nav ul li:hover {
    transition: all 850ms;
    background: rgb(26, 23, 23);
    height: 5.6rem;
    margin-top: 0.4rem;
  }

  nav ul li:hover a {
    color: white;
  }

  nav ul li:nth-of-type(2) {
    background: black;
    height: 5.6rem;
    margin-top: 0.4rem;
  }

  nav ul li:nth-of-type(2) a {
    color: white;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "Concert One", cursive;
    font-size: 1.8rem;
  }

  nav ul li a img {
    width: 6rem;
    height: 4rem;
  }
  /*   FINAL MENU   */

  main {
    border: outset rgba(194, 5, 5, 0.835) 0.5rem;
    width: 92%;
    margin: auto;
    box-shadow: rgb(134, 131, 131) 8px 8px 4px;
  }

  nav,
  main,
  footer {
    background: rgba(156, 154, 154, 0.63);
  }

  section {
    padding: 1rem;
  }

  .contClases {
    display: grid;
    width: 20rem;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }

  .contClases ul {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1em;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .contClases ul li p {
    text-align: justify;
    font-size: 1rem;
    width: 15rem;
  }

  ul {
    list-style: none;
  }

  .contClases ul li img {
    width: 10rem;
    height: 10rem;
  }

  .nAlumnos p {
    text-align: center;
  }

  .nAlumnos table {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-collapse: collapse;
  }

  td {
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }

  .nAlumnos table tr td {
    border-left: solid black 1px;
    border-right: solid black 1px;
  }

  .nAlumnos table tr:nth-of-type(2n) {
    background: rgba(172, 172, 172, 0.623);
  }

  .nAlumnos table tr:nth-of-type(2n + 1) {
    background: rgba(214, 214, 214, 0.719);
  }

  .nAlumnos table tr:first-of-type {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    background: rgba(126, 124, 124, 0.719);
  }

  .nAlumnos table tr:last-of-type {
    border-bottom: solid black 1px;
  }

  h2 {
    text-align: center;
    margin: 0.5rem auto;
    font-family: "Concert One", cursive;
    font-weight: bold;
    font-size: 2rem;
    justify-content: center;
  }

  h3 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .nClases table tr td img {
    width: 15rem;
    height: 15rem;
  }

  .lista {
    margin-left: 4rem;
  }

  .listaP {
    font-weight: bold;
  }

  .listaP li {
    margin: 1rem auto;
  }

  .listaP li:last-of-type {
    margin-bottom: 2rem;
  }

  .lista ol .nAlumnos,
  .galardones {
    margin-top: -2rem;
  }

  .ganadores {
    list-style: lower-latin;
    font-weight: normal;
  }

  footer {
    border: outset rgba(194, 5, 5, 0.835) 0.5rem;
    margin: 1rem auto;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  i {
    font-size: 3rem;
    margin-right: 1.5rem;
  }
}
